<div class="field">
  <%= f.label :location_cont, "Potrero Hill" %>
  <%= f.check_box :location_cont, {}, "Potrero Hill", "0" %>

  <%= f.label :location_cont, "Nob Hill" %>
  <%= f.check_box :location_cont, {}, "Nob Hill", "0" %>

  <%= f.label :location_cont, "Russian Hill" %>
  <%= f.check_box :location_cont, {}, "Russian Hill", "0" %>

  <%= f.label :location_cont, "Mission" %>
  <%= f.check_box :location_cont, {}, "Mission", "0" %>

  <%= f.label :location_cont, "Noe Valley" %>
  <%= f.check_box :location_cont, {}, "Noe Valley", "0" %>

  <%= f.label :location_cont, "Cole Valley/Ashbury Heights" %>
  <%= f.check_box :location_cont, {}, "Cole Valley", "0" %>

  <%= f.label :location_cont, "Castro/Upper Market" %>
  <%= f.check_box :location_cont, {}, "Castro", "0" %>

  <%= f.label :location_cont, "Lower Haight" %>
  <%= f.check_box :location_cont, {}, "Lower Haight", "0" %>

  <%= f.label :location_cont, "Haight Ashbury" %>
  <%= f.check_box :location_cont, {}, "Haight Ashbury", "0" %>
</div>
