<h1>Pad Hacker</h1>
<h3><%= link_to "Get Latest Results", new_listing_path %></h3>
<div class="search-form">
	<%= search_form_for @search do |f| %>
    <%= render 'checkboxes', :f => f %>
		<div class="field">
			<%= f.label :price_per_bedroom_gteq, "Price per bedroom between:" %>
			<%= f.text_field :price_per_bedroom_gteq %>
			<%= f.label :price_per_bedroom_lteq, "and" %>
			<%= f.text_field :price_per_bedroom_lteq %>
			</div>
		<div class="field">
			<%= f.label :beds_gteq, "Number of bedrooms between:" %>
			<%= f.text_field :beds_gteq %>
			<%= f.label :beds_lteq, "and" %>
			<%= f.text_field :beds_lteq %>
		</div>
		<div class="actions"><%= f.submit "Search" %></div>
	<% end %>
</div>
<table id="listings">
	<th>Description</th>
	<th>Info</th>
	<th>Location</th>
	<th>Price per Bedroom</th>
	<% @listings.each do |listing| %>
		<tr>
		<td><a href="<%= listing.link %>"><%= listing.description %></a></td>
		<td>Date: <%= listing.date %> || 
		Price: <%= number_to_currency(listing.price) %> || 
		Bedrooms: <%= listing.beds %></td>
		<td><%= listing.location %></td>
		<td><div style="font-weight: bold"><%= number_to_currency(listing.price_per_bedroom) %></div>
		</div></td></tr>
	<% end %>
</table>
